#binaryClock{
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	padding: 70px 50px;
}

.timePlace{
	flex: 1;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	padding: 50px 70px;
}

.binaryDigit{
	background: black;
	width: 7px;
	min-height: 8px;
	transition: all .25s ease-in-out;
}

.mark{
	width: 2px;
	background: black;
	height: 100%;
}