#segmentClock{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	padding: 300px 70px;
	height: 100%;
	box-sizing: border-box;
}

.place{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.segment{
	height: 10px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	margin-bottom: 3px;
}

.segment-fill{
	background: black;
	width: 100px;
	height: 100px;
	transform: rotateZ(45deg)
}